/* Estilização do fundo */
body {
    background-color: #f7fafc; /* Cor de fundo clara */
    font-family: 'Arial', sans-serif; /* Fonte legível e padrão */
    margin: 0;
    padding: 0;
  }
  
  /* Card do formulário */
  form {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Inputs */
  input {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s, border-color 0.2s;
  }
  
  input:focus {
    border-color: #319795; /* Cor teal */
    box-shadow: 0 0 5px rgba(49, 151, 149, 0.5);
    outline: none;
  }
  
  /* Botão */
  button {
    background-color: #319795;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #276749; /* Cor teal mais escura */
    cursor: pointer;
  }
  
  /* Links */
  a {
    color: #319795;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #276749;
    text-decoration: underline;
  }
  
  /* Texto de erro */
  .text-error {
    color: #e53e3e; /* Vermelho para erros */
    font-size: 0.875rem;
    text-align: center;
  }
  